/* media querry for max 1000px screen  */
@media screen and (max-width: 1081px) {
    header .logo{
        margin-top: 0;
    }
    .social-box{
        bottom: -20px;
    }
    .search-box{
        bottom: 3px;
    }
    .section{
        width: 100vw;
        height: 500px;
        overflow-y: scroll;
    }
    .article-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .article1, .article2, .article3{
        width:92.5%;
        margin: 0 auto;
    }
    .article1:hover{
        width:fit-content;
        margin: 0 auto;
        border: 5px solid;
        border-image: linear-gradient(-300deg,#8233c2,#1993df) 10;
        display: flex;
        align-items: center;
        cursor: pointer;
        transform: scale(1);
}
    .article2:hover{
        width:fit-content;
        margin: 0 auto;
        border: 5px solid;
        border-image: linear-gradient(-300deg,#8233c2,#1993df) 10;
        display: flex;
        align-items: center;
        cursor: pointer;
        transform: scale(1);
}
    .article3:hover{
        width:fit-content;
        margin: 0 auto;
        border: 5px solid;
        border-image: linear-gradient(-300deg,#8233c2,#1993df) 10;
        display: flex;
        align-items: center;
        cursor: pointer;
        transform: scale(1);
    }
    .sidebar{
   display: none;
    }
    .section2{
        width: 100vw;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s2article-container{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px ;
    }
    .s2article1{
        background-color: rgb(20, 20, 20);
        width: 88%;
        height: 150rem;
        border: 5px solid;
        border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 700ms ease-in-out;
        animation: article-box1 2s ease-in-out 100ms 1 normal, 
        rgb-border 3s ease-in-out 350ms infinite alternate;
        margin-top: 10px;
        overflow: visible;

    }
    .s2article2{
        background-color: rgb(20, 20, 20);
        width: 88%;
        height: 150rem;
        border: 5px solid;
        border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 700ms ease-in-out;
        margin: 0 20px 0 20px;
        animation: article-box2 2s ease-in-out 200ms 1 normal, 
        rgb-border 3s ease-in-out 350ms infinite alternate;
        overflow: visible;

    }
    .s2article3{
        background-color: rgb(20, 20, 20);
        width: 88%;
        height: 150rem;
        border: 5px solid;
        border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 700ms ease-in-out;
        animation: article-box2 2s ease-in-out 200ms 1 normal, 
        rgb-border 3s ease-in-out 350ms infinite alternate;
        overflow: visible;
    }

    /* article title */
    .s2title1,.s2title2,.s2title3{
        font-family: xsemibold;
        font-size: 20px;
        margin-top: 2px;
        text-align: center;
        color: #4b8cbc;
        transition: all 700ms ease-in-out;
    }
    /* article texts */
    .s2text1,.s2text2,.s2text3{
        margin-top: -25px;
        font-size: 17px;
        font-family: xthin;
        color: #1993df;
        text-align: center;
       
    }

}


 /* media querry for max 700px screens */
@media screen and (max-width: 700px){
    nav ul{

        justify-content: center;
        gap: 30px;
    }
    nav li{
        list-style: none;
        color: #4b8cbc;
        display: flex;
        font-size: 17px;
        font-family: xsemibold;
        font-weight: bold;
        cursor: pointer;
        transition: 400ms ease-in-out; 
    }
    nav li:hover{
        transform: scale(1.4);
        color: #bebebe;
    }
    .social-box{
        scale: 0.8;
        position: absolute;
        right: 180px;
        }
        .container{
        position: relative;
        }
    .search-box{
        scale: 0.8;
        position: absolute;
        right: 0;
    }
    header .logo{
        position: absolute;
        left: 0px;
        top: -10px
    }
}
    /* media querry for max 600px screens */

@media screen and (max-width:600px){
    nav ul{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    nav li{
        list-style: none;
        color: #4b8cbc;
        display: flex;
        font-size: 15px;
        font-family: xsemibold;
        font-weight: bold;
        cursor: pointer;
        transition: 400ms ease-in-out; 
    }
    nav li:hover{
        transform: scale(1.4);
        color: #bebebe;
    }
    .social-box{
        scale: 0.8;
        position: absolute;
        right: 180px;
        }
        .container{
        position: relative;
        }
    .search-box{
        scale: 0.8;
    }
    header .logo{
        position: absolute;
        left: 0px;
        top: -10px
    }
}
        /* media querry for max 525px screens */

@media screen and (max-width:525px){
    body{
        height: 110vh;
    }
    nav ul{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    nav li{
        list-style: none;
        color: #4b8cbc;
        display: flex;
        font-size: 12px;
        font-family: xsemibold;
        font-weight: bold;
        cursor: pointer;
        transition: 400ms ease-in-out; 
    }
    nav li:hover{
        transform: scale(1.2);
        color: #bebebe;
    }
    .section2{
        height: 100%;
    
    }
    .social-box{
        scale: 0.6;
        position: absolute;
        top: 1450px;
        left: auto;
        right: auto;
    }
        .container{
        position: relative;
    }
    .search-box{
        scale: 0.8;
        top: 20px;
        right: auto;
        left: auto;
    }
    header .logo{
        scale: 0.7;
        position: absolute;
        left: auto;
        right: auto;
        top: -35px;
    }
    .s2article-container{
        margin-top: -150px;
    }
    
}
