@font-face {
    font-family:xthin ;
    src: url(./assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family:xregular;
    src: url(./assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family:xsemibold;
    src: url(./assets/font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: xbold;
    src: url(./assets/font/Poppins-Bold.ttf);
}

*{
    margin:0;
    padding: 0;
    border: 0;
    outline: none;
}
body{
    background-color: hsl(0, 0%, 26%);
    justify-content: center;
    background-image: url(./assets/image/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* header */

}
header{ 
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(180deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
}
header .container{
    height: 200px;
}
.container{
    width: 1500px;
    margin: 0 auto;

    /* logo image  */

}
.content{
    position: relative;
}
header .logo{
    width: 250px;
    position: absolute;
    left: 640px;
    top: -25px
}

/* social media icons box  */

.social-box{
    position: absolute;
    top: 137px;
    right: 0;
    margin-right: 0;
}
.discord{
    width: 55px;
    height: auto;
    float: left;
    margin-right: 5px;
}
.instagram{
    width: 55px;
    height: auto;
    float: left;
    margin-right: 5px;
}
.telegram{
    width: 55px;
    height: auto;
    float: left;
}

/* search box  */

.search-box{
    position: absolute;
    left:0;
    top: 135px;
}
.search-box input{
    width: 200px;
    background-color: #1e0a2d;
    border-bottom: 3px solid #8f24e6;
    border-top: 2px solid #1993df ;
    border-radius: 15px;
    color: #348abe;
    padding: 16px;
    font-family: xthin;
    font-size: 15px;
}
.search-box input::placeholder{
    color: #8233c2;
    font-family: xregular;
    font-size: 20px;
    padding-left: 50px;
}

/* nav bar */

nav{
    background-color: rgb(20, 20, 20);
    height: 60px;
    border-top: 2px solid #1993df;
    border-bottom: #8233c2 solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

/* nav bar lists */

nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 70px;
}
nav li{
    list-style: none;
    color: #4b8cbc;
    display: flex;
    font-size: 22px;
    font-family: xsemibold;
    font-weight: bold;
    cursor: pointer;
}

/* section  */

.section{
    height:40vh;
    height: 500px;
    border-top: 2px solid #8233c2 solid;
    border-bottom: #1993df solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*article container */

.article-container{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px ;
}
.article1{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
  
}
.article2{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(45deg,#8233c2,#1993df) 10;
}
.article3{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(300deg,#8233c2,#1993df) 10;
}
/* article title */
.title1,.title2,.title3{
    font-family: xsemibold;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
}
/* article text */
.text1,.text2,.text3{
margin: 20px 0 0 10px ;
font-size: 20px;
font-family: xregular;
}
.article-icon{
    width: 200px;
    display: flex;

}