@font-face {
    font-family:xthin ;
    src: url(./assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family:xregular;
    src: url(./assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family:xsemibold;
    src: url(./assets/font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: xbold;
    src: url(./assets/font/Poppins-Bold.ttf);
}

*{
    margin:0;
    padding: 0;
    border: 0;
    outline: none;
}
/* html::-webkit-scrollbar {
  display: none;
} */

body{
    background-color: hsl(0, 0%, 26%);
    justify-content: center;
    background-image: url(./assets/image/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
/* header */
header{ 
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(180deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
    display: flex;
}
header .container{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;

}
/* container  */
.container{
    width: 100vw;
    margin: 0 auto;
}
/* .content{
    display: flex;
    background-color: brown;
    margin-left: 100px;
} */
header .logo{
    width: 230px;
    height: 230px;
    display: flex;
    margin-top: -20px;
    animation-name: logo-motion;
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;   
}
/* social media icons box  */

.social-box{
    margin-top: 130px;
}
.discord{
    width: 55px;
    height: auto;
    margin-right: 5px;
}
.instagram{
    width: 55px;
    height: auto;
    margin-right: 5px;
}
.telegram{
    width: 55px;
    height: auto;
}
.discord:hover{
    animation: rotation 1s ease-in-out 100ms 1 forwards ;
}
.instagram:hover{
    animation: rotation 1s ease-in-out 100ms 1 forwards ;
}
.telegram:hover{
    animation: rotation 1s ease-in-out 100ms 1 both ;
}
/* search box  */

.search-box{
    margin-top: 130px;
}
.search-box input{
    width: 200px;
    background-color: #1e0a2d;
    border-bottom: 3px solid #8f24e6;
    border-top: 2px solid #1993df ;
    border-radius: 15px;
    color: #348abe;
    padding: 16px;
    font-family: xthin;
    font-size: 15px;
}
.search-box input::placeholder{
    color: #8233c2;
    font-family: xregular;
    font-size: 18px;
    padding-left: 50px;
}
/* nav bar */
nav{
    background-color: rgb(20, 20, 20);
    height: 60px;
    border-top: 2px solid #1993df;
    border-bottom: #8233c2 solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* nav bar lists */
nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 70px;
}
nav li{
    list-style: none;
    color: #4b8cbc;
    display: flex;
    font-size: 20px;
    font-family: xsemibold;
    font-weight: bold;
    cursor: pointer;
    transition: 400ms ease-in-out;
}
.social-target{
    list-style: none;
    color: #4b8cbc;
    display: flex;
    font-family: xsemibold;
    font-weight: bold;
    cursor: pointer;
    transition: 400ms ease-in-out;
    text-decoration: none;
}
.social-target:hover{
    transform: scale(1);
    color: #bebebe;
}
nav li:hover{
    transform: scale(1.4);
    color: #bebebe;
}
/* section  */
.section{
    height: 500px;
    border-top: 2px solid #8233c2 solid;
    border-bottom: #1993df solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*article container */
.article-container{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px ;
}
.article1{
    background-color: rgb(20, 20, 20);
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    animation: article-box1 2s ease-in-out 100ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    width: 0;
}
.article1:hover{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.4);
    background-color: #210d31;
    margin-right: 6px;
}
.article2{
    background-color: rgb(20, 20, 20);
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    margin: 0 20px 0 20px;
    animation: article-box2 2s ease-in-out 200ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow-x: scroll; 
}
.article2:hover{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-45deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.4);
    background-color: #210d31;
    margin:0,6px
}
.article3{
    width: 270px;
    height: 350px;
    background-color: rgb(20, 20, 20);
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    animation: article-box3 2s ease-in-out 350ms 1 normal, 
    rgb-border 3s ease-in 350ms infinite alternate;
    overflow-x: scroll; 
}
.article3:hover{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-300deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    transform: scale(1.4);
    background-color: #210d31;
    margin-left: 6px;
}
/* article title */
.title1,.title2,.title3{
    font-family: xsemibold;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    color: #4b8cbc;
}
/* article texts */
.text1,.text2,.text3{
    margin-top: 10px;
    font-size: 17px;
    font-family: xthin;
    color: rgb(226, 226, 226);
    text-align: center;
    padding: 10px;
}
/* articles icon */
.article-icon1{
    width: 70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.article-icon2{
    width: 70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.article-icon3{
    width: 70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/* section2  */
.section2{
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(180deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
    height: 400px;
}
.s2article-container{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px ;
}
.s2article1{
    background-color: rgb(20, 20, 20);
    width: 270px;
    height: 150px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    animation: article-box1 2s ease-in-out 100ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow: hidden;
    text-shadow: 1px 1px 10px #8233c2;
}
.s2article2{
    background-color: rgb(20, 20, 20);
    width: 270px;
    height: 150px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    margin: 0 20px 0 20px;
    animation: article-box2 2s ease-in-out 200ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow: hidden;
    text-shadow: 1px 1px 10px #8233c2;
}
.s2article3{
    background-color: rgb(20, 20, 20);
    width: 270px;
    height: 150px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 700ms ease-in-out;
    cursor: pointer;
    animation: article-box2 2s ease-in-out 200ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow: hidden;
    text-shadow: 1px 1px 10px #8233c2;
}
/* article title */
.s2title1,.s2title2,.s2title3{
    font-family: xsemibold;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    color: #4b8cbc;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    transition: all 700ms ease-in-out;
}
/* article texts */
.s2text1,.s2text2,.s2text3{
    margin-top: 10px;
    font-size: 17px;
    font-family: xthin;
    color: #1993df;
    text-align: center;
    padding: 10px;
}
/* side bar */
.sidebar{
    width: 400px;
    height:400px;
    background-image: url(./assets/image/sidebar.png);
    background-size:cover ;
    position: absolute;
    right: 0;
}
/* side bar icon container */
.icon-container{
    width: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 335px;
    pointer-events: painted;
}
.section2 a{
    font-size: 30px;
    color: rgb(156, 156, 156);
    transition: all 150ms ease-in-out;
}
.fa-brands{
    margin-right: 10px;
}
.fa-mobile-screen-button{
    margin-right:13px;
}
.fa-gamepad{
    margin-right: 3px;
}
.icon-container:hover i:not(:hover){
    color: #1993df;
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}
/* section2 target  */
.section2 :target{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-45deg,#8233c2,#1993df) 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #210d31;
}
/* target texts transform */
.section2 :target .s2text1{
    color: rgb(226, 226, 226);
}
.section2 :target .s2text2{
    color: rgb(226, 226, 226);
}
.section2 :target .s2text3{
    color: rgb(226, 226, 226); 
}
.section2 :target .s2title1{
    color:#8233c2;  
    font-size: 30px;
}
.section2 :target .s2title2{
    color:#8233c2;
    font-size: 30px;
}
.section2 :target .s2title3{
    color:#8233c2;
    font-size: 30px;
}
.section3{
    height: 600px;
    background-color: rgb(20, 20, 20);
    border-top: #1993df solid 3px;
    border-bottom: #1993df solid 3px;
    
}
.s3container{
    margin-left: 25.5%;
    margin-top: 60px;

}
.s3box1{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    cursor: pointer;
    float: left;
    animation: article-box2 2s ease-in-out 200ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;    
    overflow: hidden;
    transition: all ease-in-out 300ms;
    
}
.s3box2{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    cursor: pointer;
    float: left;
    margin-left: 50px;
    animation: article-box2 2s ease-in-out 250ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow: hidden;
}
.s3box3{
    width: 270px;
    height: 350px;
    border: 5px solid;
    border-image: linear-gradient(-250deg,#8233c2,#1993df) 10;
    cursor: pointer;
    float: left;
    margin-left: 50px;
    animation: article-box2 2s ease-in-out 310ms 1 normal, 
    rgb-border 3s ease-in-out 350ms infinite alternate;
    overflow: hidden;
    box-shadow: none; 
}
.s3box1:hover{
    box-shadow: 3px 1px 20px #8233c2;
    transition: all ease-in-out 300ms;
}
.s3box2:hover{
    box-shadow: 3px 1px 20px #8233c2;
    transition: all ease-in-out 300ms;
}
.s3box3:hover{
    box-shadow: 3px 1px 20px #8233c2;
    transition: all ease-in-out 300ms;
}


/* .s3box1::before{
    content: '';
    display: block;
    height: 355px;
    color: rgb(195, 0, 0);
    background-color: rgb(24, 24, 24);
    position: relative;
    transition: all ease-in-out 300ms;
}

.s3box1:hover::before{
    content: 'hello brother';
    display: block;
    width: 80px;
    height: 355px;
    color: rgb(195, 0, 0);
    background-color: rgb(24, 24, 24);
    position: relative;
} 
 */

.s3img1, .s3img2, .s3img3{
    transition: all ease-in-out 300ms;
}
.s3box1:hover .s3img1{
    filter: grayscale(50%);
    filter: blur(3px);
    transform: translateX(50px);
    transition: all ease-in-out 300ms;
}
.s3box2:hover .s3img2{
    filter: blur(3px);
    transform: translateX(50px);
    transition: all ease-in-out 300ms;
}
.s3box3:hover .s3img3{
    filter: blur(3px);
    transform: translateX(50px);
    transition: all ease-in-out 300ms;
}
.s3iconBox1{
    width: 80px;
    height: 350px;
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(150deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
    display: inline-block;
    transform: scale(2);
    position: relative;
    bottom: 350px;
    left: -120px;
    transition: all ease-in-out 300ms;
    text-align: center;
    line-height: 0px;
}
.s3iconBox2{
    width: 80px;
    height: 350px;
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(150deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
    display: inline-block;
    transform: scale(2);
    position: relative;
    bottom: 350px;
    left: -120px;
    transition: all ease-in-out 300ms;
    text-align: center;
    line-height: 0px;
}
.s3iconBox3{
    width: 80px;
    height: 350px;
    background: rgb(0,0,0);
    background: rgb(22,17,22);
    background: linear-gradient(150deg, rgba(22,17,22,1) 0%, rgba(31,9,47,1) 100%);
    display: inline-block;
    transform: scale(2);
    position: relative;
    bottom: 350px;
    left: -120px;
    transition: all ease-in-out 300ms;
    text-align: center;
    line-height: 0px;
}
.s3box1:hover .s3iconBox1{
    width: 85px;
    height: 350px;
    background-color: #8f24e6;
    display: inline-block;
    position: relative;
    bottom: 354px;
    transform: translateX(100px);
    transition: all ease-in-out 300ms;
    line-height: 120px;
}
.s3box2:hover .s3iconBox2{
    width: 85px;
    height: 350px;
    background-color: #8f24e6;
    display: inline-block;
    position: relative;
    bottom: 354px;
    transform: translateX(100px);
    transition: all ease-in-out 300ms;
    line-height: 120px;
}
.s3box3:hover .s3iconBox3{
    width: 85px;
    height: 350px;
    background-color: #8f24e6;
    display: inline-block;
    position: relative;
    bottom: 354px;
    transform: translateX(100px);
    transition: all ease-in-out 300ms;
}
.s3iconBox1 a{
    padding:40px;
    line-height: 120px;    
}
.s3iconBox2 a{
    padding:40px;
    line-height: 120px;    
}
.s3iconBox3 a{
    padding:40px;
    line-height: 120px;    
}
.s3iconBox1 a:hover{
    color: #1993df;
    line-height: 120px;
    margin-left: 5px;   
}
.s3iconBox2 a:hover{
    color: #1993df;
    line-height: 120px;   
    margin-left: 5px;
}
.s3iconBox3 a:hover{
    color: #1993df;
    line-height: 120px;
    margin-left: 5px;
}
.clear{
    clear: both;
}
.form-container{
    width: 100vw;
    height: 400px;
    background-color:  #cbcbcb;
    margin-top: 60px; 
    transition: all ease-in-out  1s;
    border-top: #1993df solid 3px;
}
form{
    text-align: center;
    position: relative;
    top: 70px;
    transition: all ease-in-out 1s;
}
.input-box{
    width: 200px;
    background-color: #1e0a2d;
    border-bottom: 3px solid #8f24e6;
    border-top: 2px solid #1993df ;
    border-radius: 10px;
    color: #348abe;
    padding: 10px;
    font-family: xthin;
    font-size: 15px;
    margin-top: 10px;
    background-color: transparent;
}
.input-box::placeholder{
    color: #8233c2;
    background-color: transparent;
    font-family: xregular;
    font-size: 18px;
    padding-left: 50px;
}
.form-title{
    font-family: xsemibold;
    display: inline-block;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    color: #4b8cbc;
    border-bottom: 3px #1e0a2d solid;
    position: relative;
    bottom: 35px;
}
.form-label{
    font-family: xregular;
    font-size: 20px;;
    text-align: center;
    color: #4b8cbc;
    margin-top: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
 
.form-container:focus-within{
    background-color: #1e0a2d;
    transition: all ease-in-out  1s;
}

